
.app-game-container {
  position: absolute;
  width: 40%; height: 80vh;
  right: 0; bottom: 0;
  box-shadow: -3px 0 3px -2px #aaaaaa;
}

.app-game {
  position: relative;
  height: 100%; width: 100%;

  & canvas {
    height: 100%; width: 100%;
  }

}