
.chat-container-div {
  font-family: 'Roboto Slab', sans-serif;
  color: #9B9B9B;
  overflow: auto;
  height: 50vh;
  padding: 20px;

  .chat-inner-div {
    height: 30%;

    .profiel-pic-back {
      width: 15%;
      //background-color: #939393;
      position: relative;
      float: left;

      .profiel-pic {
        width: 12vh;

      }
    }

    .username-div {
      font-size: 20px;
      padding-left: 20%;
    }

    .message-div {
      font-size: 15px;
      padding-left: 20%;
      padding-top: 10px;
    }
  }
}

.input-container-div {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #FFFFFF;
  position: fixed;
  top: 73%;
  left: 64%;

  .input-field {
    padding: 20px;
    left: 10%;
    height: 23vh;
    width: 55vh;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgb(168,168,168);
  }

  .versturen-button {
    position: absolute !important;
    top: 68%;
    left: 72%;
    right: 0;
    background-color: #FD659B !important;
    border-radius: 7px !important;
  }
}

@media only screen and (min-width: 1300px) {
  .input-field{
    width: 65vh !important;
  }
  .versturen-button {
    left: 76% !important;
  }
}
