
.chatContainer-div {
  padding: 20px;
  position: absolute;
  height: 50vh;


 .username-div{
    padding: 10px;
  }
  .message-div{
    padding: 10px;
  }
}

.input-container-div {
  background-color: #FFFFFF;
  position: fixed;
  top: 75%;
  left: 61%;

  .input-field {
    padding: 20px;
    left: 10%;
    width: 75vh;
    border-radius: 20px;
  }

  .versturen-button {
    position: absolute !important;
    top: 70%;
    left: 80%;
    right: 0;
    background-color: #FD659B;
  }
}
