

.chatContainerDiv {
  padding: 20px;
  position: relative;
  top: 20px;
}

.inputField {
  padding: 20px;
  position: absolute;
  top: 65%;
  left: 10%;
  width: 80%;
  border-radius: 20px;
}

.versturenButton {
  position: absolute !important;
  top: 85%;
  left: 70%;
  right: 0;
  background-color: #FD659B;
}