
.app-editor-container {
  position: relative;
  width: 60%; height: 90vh;
  z-index: 0;
  left: 0;
}

.app-editor {
  height: 100%; width: 100%;
}

:global {
  .blocklyMainBackground {
    stroke-width: 0;
  }
}